<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matheusfroes.lolfreeweek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.freeweeklist.FreeWeekListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.championdetails.ChampionDetailsActivity"
            android:parentActivityName=".ui.freeweeklist.FreeWeekListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addalerts.AddChampionAlertActivity"
            android:label="@string/add_alert"
            android:parentActivityName=".ui.freeweeklist.FreeWeekListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".ui.myalerts.MyAlertsActivity"
            android:label="@string/my_alerts"
            android:parentActivityName=".ui.freeweeklist.FreeWeekListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.freeweeklist.FreeWeekListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fetchchampiondata.FetchChampionsDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DownloadChampion" />
        <activity android:name=".ui.BaseActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9931312002048408~6112768170" />

        <activity
            android:name=".ui.privacypolicy.PrivacyPolicyActivity"
            android:label="@string/privacy_policy"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.termsconditions.TermsConditionsActivity"
            android:label="@string/terms_conditions"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.chooseregion.ChooseRegionActivity"
            android:theme="@style/AppTheme.DownloadChampion" />
    </application>

</manifest>